@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Nunito:400,700,600,900|Lato:400,700,300,500,600|Montserrat:400,700|Playfair+Display:400,700|Roboto:400|Source+Sans+Pro:700");

:root {
    --black:
            rgba(0, 0, 0, 1);
    --cerulean:
            rgba(0, 153, 212, 1);
    --absolute-zero:
            rgba(3, 55, 184, 1);
    --tangaroa:
            rgba(8, 22, 56, 1);
    --licorice:
            rgba(20, 20, 20, 1);
    --vulcan:
            rgba(20, 22, 25, 1);
    --mirage:
            rgba(20, 27, 45, 1);
    --mirage-2:
            rgba(24, 23, 37, 1);
    --bay-of-many:
            rgba(28, 57, 136, 1);
    --ebony-clay:
            rgba(34, 43, 69, 1);
    --ebony-clay-2:
            rgba(37, 43, 66, 1);
    --outer-space:
            rgba(44, 57, 75, 1);
    --mine-shaft:
            rgba(48, 48, 48, 1);
    --pickled-bluewood:
            rgba(50, 73, 94, 1);
    --oxford-blue:
            rgba(51, 71, 86, 1);
    --royal-blue:
            rgba(62, 100, 255, 1);
    --cape-cod:
            rgba(66, 66, 66, 1);
    --abbey:
            rgba(79, 79, 79, 1);
    --chicago:
            rgba(93, 92, 93, 1);
    --blueberry:
            rgba(93, 140, 255, 1);
    --storm-dust:
            rgba(96, 98, 103, 1);
    --pale-sky-2:
            rgba(102, 117, 128, 1);
    --pale-sky:
            rgba(104, 118, 132, 1);
    --granite-gray:
            rgba(105, 105, 105, 1);
    --lynch:
            rgba(106, 118, 154, 1);
    --sonic-silver:
            rgba(114, 114, 114, 1);
    --suva-gray:
            rgba(133, 131, 131, 1);
    --silver-2:
            rgba(189, 189, 189, 1);
    --silver:
            rgba(190, 190, 191, 1);
    --ghost:
            rgba(199, 201, 217, 1);
    --hint-of-red:
            rgba(249, 249, 249, 1);
    --atomic-tangerine:
            rgba(255, 171, 113, 1);
    --white:
            rgba(255, 255, 255, 1);

    --font-size-xxxs: 8px;
    --font-size-xxs: 12px;
    --font-size-xs: 14px;
    --font-size-s: 15px;
    --font-size-m: 16px;
    --font-size-l: 17px;
    --font-size-xl: 18px;

    --font-family-helvetica: "Helvetica";
    --font-family-lato: "Lato";
    --font-family-montserrat: "Montserrat";
    --font-family-nunito: "Nunito";
    --font-family-open_sans: "Open Sans";
    --font-family-playfair_display: "Playfair Display";
    --font-family-roboto: "Roboto";
    --font-family-source_sans_pro: "Source Sans Pro";
}

.nunito-semi-bold-licorice-18px {
    color: var(--licorice);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}

.nunito-bold-tangaroa-51-9px {
    color: var(--tangaroa);
    font-family: var(--font-family-nunito);
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
}

.montserrat-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.helvetica-bold-white-36px {
    color: var(--white);
    font-family: var(--font-family-helvetica);
    font-size: 36px;
}

.nunito-semi-bold-storm-dust-16px {
    color: var(--storm-dust);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunito-bold-cape-cod-22px {
    color: var(--cape-cod);
    font-family: var(--font-family-nunito);
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.nunito-normal-vulcan-16px {
    color: var(--vulcan);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.lato-normal-pale-sky-16px {
    color: var(--pale-sky-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.lato-bold-oxford-blue-20px {
    color: var(--oxford-blue);
    font-family: var(--font-family-lato);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-storm-dust-14px {
    color: var(--storm-dust);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-cerulean-34-4px {
    color: var(--cerulean);
    font-family: var(--font-family-nunito);
    font-size: 34.38px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-ebony-clay-18px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.montserrat-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.roboto-normal-lynch-11px {
    color: var(--lynch);
    font-family: var(--font-family-roboto);
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
}

.nunito-semi-bold-mine-shaft-16px {
    color: var(--mine-shaft);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunito-semi-bold-ebony-clay-16px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.nunito-normal-tangaroa-21-2px {
    color: var(--tangaroa);
    font-family: var(--font-family-nunito);
    font-size: 21.25px;
    font-weight: 400;
    font-style: normal;
}

.nunito-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold-absolute-zero-14px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.nunito-semi-bold-pickled-bluewood-14px {
    color: var(--pickled-bluewood);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
}

.nunito-normal-absolute-zero-8px {
    color: var(--absolute-zero);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-ebony-clay-16px-2 {
    color: var(--ebony-clay-2);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-absolute-zero-12px {
    color: var(--absolute-zero);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-hint-of-red-16px {
    color: var(--hint-of-red);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-mirage-17px {
    color: var(--mirage);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-lynch-10px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-white-35px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
}

.helvetica-bold-absolute-zero-34-4px {
    color: var(--absolute-zero);
    font-family: var(--font-family-helvetica);
    font-size: 34.38px;
}

.nunito-bold-abbey-38px {
    color: var(--abbey);
    font-family: var(--font-family-nunito);
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-ebony-clay-15px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-ebony-clay-14px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-blueberry-8px {
    color: var(--blueberry);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-silver-14px {
    color: var(--silver);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.nunito-semi-bold-lynch-12px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
}

.nunito-normal-ghost-14px {
    color: var(--ghost);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-lynch-12px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    font-style: normal;
}

.lato-light-outer-space-15px {
    color: var(--outer-space);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
}

.montserrat-bold-silver-16px {
    color: var(--silver-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-semi-bold-ebony-clay-18px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}

.nunito-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-mirage-21-2px {
    color: var(--mirage);
    font-family: var(--font-family-nunito);
    font-size: 21.25px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-licorice-36px {
    color: var(--licorice);
    font-family: var(--font-family-nunito);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-vulcan-16px {
    color: var(--vulcan);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-pale-sky-12px {
    color: var(--pale-sky);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-white-22px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-bay-of-many-17px {
    color: var(--bay-of-many);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
}

.nunito-black-ebony-clay-16px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 900;
    font-style: normal;
}

.nunito-bold-lynch-14px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.helvetica-bold-blueberry-36px {
    color: var(--blueberry);
    font-family: var(--font-family-helvetica);
    font-size: 36px;
}

.nunito-normal-chicago-12px {
    color: var(--chicago);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-oxford-blue-23px {
    color: var(--oxford-blue);
    font-family: var(--font-family-nunito);
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-pale-sky-14px {
    color: var(--pale-sky);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-tangaroa-64-8px {
    color: var(--tangaroa);
    font-family: var(--font-family-nunito);
    font-size: 64.85px;
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-tangaroa-40px {
    color: var(--tangaroa);
    font-family: var(--font-family-nunito);
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-sonic-silver-14px {
    color: var(--sonic-silver);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-semi-bold-ebony-clay-20px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.nunito-normal-granite-gray-14px {
    color: var(--granite-gray);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-normal-white-8px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    font-style: normal;
}

.helvetica-bold-absolute-zero-36px {
    color: var(--absolute-zero);
    font-family: var(--font-family-helvetica);
    font-size: 36px;
}

.montserrat-bold-atomic-tangerine-16px {
    color: var(--atomic-tangerine);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-bold-mirage-12px {
    color: var(--mirage-2);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-granite-gray-12px {
    color: var(--granite-gray);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-absolute-zero-36px {
    color: var(--absolute-zero);
    font-family: var(--font-family-nunito);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
}

.lato-normal-oxford-blue-16px {
    color: var(--oxford-blue);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.roboto-normal-lynch-10px {
    color: var(--lynch);
    font-family: var(--font-family-roboto);
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
}

.sourcesanspro-bold-absolute-zero-22px {
    color: var(--absolute-zero);
    font-family: var(--font-family-source_sans_pro);
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
}

.helvetica-bold-cerulean-34-4px {
    color: var(--cerulean);
    font-family: var(--font-family-helvetica);
    font-size: 34.38px;
}

.nunito-normal-pickled-bluewood-14px {
    color: var(--pickled-bluewood);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-normal-suva-gray-15px {
    color: var(--suva-gray);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.helvetica-bold-vulcan-16px {
    color: var(--vulcan);
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-m);
}

.nunito-normal-granite-gray-20px {
    color: var(--granite-gray);
    font-family: var(--font-family-nunito);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-bay-of-many-16px {
    color: var(--bay-of-many);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.nunito-semi-bold-ebony-clay-17px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.nunito-semi-bold-lynch-14px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
}

.nunito-normal-bay-of-many-17px {
    color: var(--bay-of-many);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-sonic-silver-14px {
    color: var(--sonic-silver);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}

.nunito-black-lynch-12px {
    color: var(--lynch);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    font-weight: 900;
    font-style: normal;
}

.helvetica-bold-pale-sky-16px {
    color: var(--pale-sky);
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-m);
}

.nunito-bold-ebony-clay-16px {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.opensans-bold-bay-of-many-17px {
    color: var(--bay-of-many);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-absolute-zero-14px {
    color: var(--absolute-zero);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.nunito-normal-abbey-26px {
    color: var(--abbey);
    font-family: var(--font-family-nunito);
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
}

.hospitalpagereviews {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    width: 414px;
}

.overlap-group14 {
    height: 1859px;
    position: relative;
    width: 414px;
}

.overlap-group10 {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 1859px;
    padding: 38px 0;
    position: absolute;
    top: 0;
    width: 414px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    height: 206px;
    min-width: 360px;
    position: relative;
}

.image {
    align-self: flex-end;
    height: 178px;
    margin-left: 53px;
    width: 178px;
}

.icon {
    height: 18px;
    margin-left: 85px;
    margin-top: 11px;
    width: 4px;
}

.overlap-group13 {
    height: 127px;
    margin-right: 1.0px;
    margin-top: 33px;
    position: relative;
    width: 281px;
}

.overlap-group11 {
    height: 113px;
    left: 0;
    position: absolute;
    top: 0;
    width: 281px;
}

.overlap-group2 {
    height: 184px;
    margin-left: 2.0px;
    margin-top: 157px;
    position: relative;
    width: 412px;
}

.overlap-group1 {
    height: 184px;
    left: 0;
    position: absolute;
    top: 0;
    width: 412px;
}

.rectangle {
    height: 180px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 160px;
}

.overlap-group {
    height: 54px;
    left: 60px;
    position: absolute;
    top: 37px;
    width: 39px;
}

.vector {
    height: 8px;
    left: 14px;
    position: absolute;
    top: 29px;
    width: 12px;
}

.vector-1 {
    height: 14px;
    left: 7px;
    position: absolute;
    top: 1px;
    width: 25px;
}

.vector-2 {
    height: 22px;
    left: 6px;
    position: absolute;
    top: 8px;
    width: 28px;
}

.vector-3 {
    height: 15px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 27px;
}

.group {
    align-items: flex-start;
    display: flex;
    height: 1px;
    left: 14px;
    min-width: 12px;
    position: absolute;
    top: 13px;
}

.vector-4 {
    height: 1px;
    width: 4px;
}

.vector-5 {
    height: 1px;
    margin-left: 4px;
    width: 4px;
}

.vector-6 {
    height: 2px;
    left: 23px;
    position: absolute;
    top: 16px;
    width: 2px;
}

.vector-7 {
    height: 2px;
    left: 15px;
    position: absolute;
    top: 16px;
    width: 2px;
}

.vector-8 {
    height: 3px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 8px;
}

.vector-9 {
    height: 20px;
    left: 5px;
    position: absolute;
    top: 15px;
    width: 29px;
}

.vector-10 {
    height: 16px;
    left: 14px;
    position: absolute;
    top: 36px;
    width: 12px;
}

.vector-11 {
    height: 5px;
    left: 12px;
    position: absolute;
    top: 33px;
    width: 15px;
}

.vector-12 {
    height: 21px;
    left: 1px;
    position: absolute;
    top: 32px;
    width: 37px;
}

.vector-13 {
    height: 4px;
    left: 8px;
    position: absolute;
    top: 43px;
    width: 1px;
}

.vector-14 {
    height: 6px;
    left: 30px;
    position: absolute;
    top: 43px;
    width: 6px;
}

.vector-15 {
    height: 5px;
    left: 4px;
    position: absolute;
    top: 45px;
    width: 8px;
}

.vector-16 {
    height: 7px;
    left: 3px;
    position: absolute;
    top: 45px;
    width: 10px;
}

.vector-17 {
    height: 22px;
    left: 0;
    position: absolute;
    top: 32px;
    width: 39px;
}

.rectangle-1 {
    height: 180px;
    left: 125px;
    position: absolute;
    top: 2px;
    width: 160px;
}

.rectangle-2 {
    height: 184px;
    left: 248px;
    position: absolute;
    top: 0;
    width: 164px;
}

.patients {
    font-weight: 700;
    left: 56px;
    letter-spacing: 0.37px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 121px;
    white-space: nowrap;
}

.text-1 {
    font-weight: 600;
    left: 54px;
    letter-spacing: 0.52px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
}

.experience {
    font-weight: 700;
    left: 184px;
    letter-spacing: 0.37px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 121px;
    white-space: nowrap;
}

.x10-yrs {
    font-weight: 600;
    left: 187px;
    letter-spacing: 0.49px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 96px;
    white-space: nowrap;
}

.ratings {
    font-weight: 700;
    left: 299px;
    letter-spacing: 0.37px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 120px;
}

.text-2 {
    font-weight: 600;
    left: 317px;
    letter-spacing: 0.52px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
}

.rating-1 {
    height: 52px;
    left: 304px;
    position: absolute;
    top: 39px;
    width: 52px;
}

.group-6915 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 2.0px;
    margin-top: 1px;
    min-height: 471px;
    width: 360px;
}

.overlap-group5 {
    height: 159px;
    position: relative;
    width: 360px;
}

.overlap-group2-1 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 360px;
}

.overlap-group4 {
    height: 97px;
    left: 0;
    position: absolute;
    top: 0;
    width: 360px;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 273px;
    min-height: 77px;
    position: absolute;
    top: 57px;
    width: 86px;
}

.audio {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    left: 0;
    position: absolute;
    top: 109px;
    width: 202px;
}

.icon-1 {
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    width: 50px;
}

.affordable-1 {
    height: 24px;
    margin-left: 13px;
    margin-top: 13px;
    width: 24px;
}

.flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 2.0px;
    min-height: 40px;
    width: 99px;
}

.audio-call {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 19px;
    min-height: 22px;
    white-space: nowrap;
}

.call-your-doctor-dir {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 14px;
    margin-top: 2px;
    min-height: 16px;
    white-space: nowrap;
}

.overlap-group3 {
    height: 214px;
    margin-top: 39px;
    position: relative;
    width: 349px;
}

.heading {
    font-weight: 600;
    letter-spacing: 0.30px;
    line-height: 21px;
    margin-left: 1px;
    margin-top: 34px;
    min-height: 25px;
    white-space: nowrap;
}

.overlap-group12 {
    height: 89px;
    margin-left: 14.0px;
    margin-top: 17px;
    position: relative;
    width: 374px;
}

.group-6955 {
    align-items: center;
    display: flex;
    height: 55px;
    left: 0;
    min-width: 374px;
    position: absolute;
    top: 0;
}

.round {
    height: 55px;
    width: 55px;
}

.overlap-group8 {
    height: 29px;
    margin-left: 12px;
    margin-top: 2.0px;
    position: relative;
    width: 307px;
}

.overlap-group1-1 {
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 307px;
}

.group-34 {
    align-items: flex-start;
    display: flex;
    height: 29px;
    left: 87px;
    min-width: 220px;
    position: absolute;
    top: 0;
}

.time {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: 21px;
    margin-left: -1px;
    min-height: 25px;
    text-align: center;
    white-space: nowrap;
    width: 90px;
}

.icon-outline-back {
    align-items: center;
    display: flex;
    height: 26px;
    justify-content: center;
    margin-left: 106px;
    overflow: hidden;
    width: 25px;
}

.overlap-group-1 {
    height: 25px;
    position: relative;
    width: 26px;
}

.icon-outline-ba-background-mask {
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    width: 25px;
}

.arrow-chevronleft {
    height: 18px;
    left: 8px;
    position: absolute;
    top: 4px;
    transform: rotate(90.00deg);
    width: 10px;
}

.linegp {
    align-items: center;
    display: flex;
    height: 50px;
    left: 46px;
    min-width: 322px;
    position: absolute;
    top: 39px;
}

.message {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    padding: 0 23px;
    width: 211px;
}

.overlap-group-2 {
    height: 25px;
    margin-top: 3.0px;
    position: relative;
    width: 25px;
}

.oxygen-mask-1 {
    height: 14px;
    left: 5px;
    position: absolute;
    top: 6px;
    width: 14px;
}

.rectangle-3 {
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.overlap-group1-2 {
    height: 36px;
    margin-left: 3px;
    position: relative;
    width: 130px;
}

.available {
    font-weight: 700;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 14px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.group-6956 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 33px;
    position: absolute;
    top: 0;
    width: 130px;
}

.messaging {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 16px;
    margin-left: 2.27px;
    min-height: 19px;
    min-width: 132px;
    white-space: nowrap;
}

.tick-icon {
    background-size: 100% 100%;
    display: flex;
    height: 14px;
    width: 14px;
}

.tick-icon-1 {
    height: 7.5px;
    margin-left: 3px;
    margin-top: 4px;
    width: 9.5px;
}

.star {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    min-height: 26px;
    position: relative;
    width: 55px;
}

.text-6 {
    letter-spacing: -0.15px;
    line-height: 14px;
    margin-right: 1px;
    min-height: 14px;
    white-space: nowrap;
    width: 19px;
}

.group-6950 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin-right: 19px;
    min-width: 332px;
}

.message-1 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    padding: 7px 31px;
    width: 211px;
}

.icon-2 {
    align-self: center;
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    margin-top: 1.0px;
    width: 25px;
}

.intensivist-1 {
    height: 14px;
    margin-left: 7px;
    margin-top: 6px;
    width: 14px;
}

.group-6926 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    min-height: 35px;
    width: 104px;
}

.messaging-1 {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 16px;
    min-height: 19px;
    white-space: nowrap;
}

.group-6957 {
    align-items: center;
    display: flex;
    height: 16px;
    min-width: 85px;
}

.chat-me-up-share-ph {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 14px;
    min-height: 16px;
    min-width: 69px;
    white-space: nowrap;
}

.overlap-group1-3 {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 14px;
    margin-left: 2px;
    min-width: 14px;
    padding: 0 1px;
}

.x {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 12px;
    padding: 0 1.0px;
    width: 12px;
}

.overlap-group-3 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    min-width: 10px;
}

.vector-18 {
    height: 10px;
    width: 10px;
}

.group-6925 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    min-height: 28px;
    position: relative;
    width: 55px;
}

.text-7 {
    color: var(--ghost);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxs);
    letter-spacing: -0.15px;
    line-height: 14px;
    margin-right: 3.15px;
    min-height: 16px;
    min-width: 19px;
    opacity: 0.4;
    white-space: nowrap;
}

.message-2 {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    margin-right: 52.0px;
    overflow: hidden;
    position: relative;
    width: 248px;
}

.overlap-group2-2 {
    height: 34px;
    margin-left: 3px;
    position: relative;
    width: 202px;
}

.overlap-group1-4 {
    height: 16px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 85px;
}

.tick-icon-2 {
    background-size: 100% 100%;
    height: 14px;
    left: 71px;
    position: absolute;
    top: 0;
    width: 14px;
}

.chat-me-up-share-ph-1 {
    font-weight: 700;
    left: 0;
    letter-spacing: 0.20px;
    line-height: 14px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 71px;
}

.help-circle {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 10px;
    justify-content: center;
    left: 73px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 10px;
}

.overlap-group-4 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 11px;
    margin-top: -0.5px;
    min-width: 11px;
    padding: 2.0px 3.0px;
}

.vector-19 {
    height: 5px;
    width: 5px;
}

.messaging-2 {
    font-weight: 700;
    left: 0;
    letter-spacing: 0.27px;
    line-height: 16px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 202px;
}

.group-6952 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin-right: 20px;
    min-width: 331px;
    position: relative;
}

.message-3 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    padding: 12px 31px;
    position: relative;
    width: 248px;
}

.messaging-3 {
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 16px;
    margin-bottom: 1.0px;
    margin-left: 4px;
    min-height: 19px;
    white-space: nowrap;
    width: 96px;
}

.group-6953 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin-right: 20px;
    min-width: 329px;
    position: relative;
}

.message-4 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    padding: 12px 28px;
    position: relative;
    width: 248px;
}

.messaging-4 {
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 16px;
    margin-bottom: 1.0px;
    margin-left: 3px;
    min-height: 19px;
    white-space: nowrap;
    width: 157px;
}

.bg {
    height: 408px;
    left: 0;
    position: absolute;
    top: 0;
    width: 414px;
}

.dr-bellamy-nicholas {
    color: var(--ebony-clay);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    left: 84px;
    letter-spacing: 0.33px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 242px;
    white-space: nowrap;
}

.line-break {
    height: 2px;
    left: 92px;
    position: absolute;
    top: 1306px;
    width: 300px;
}

.line-break-1 {
    height: 2px;
    left: 93px;
    position: absolute;
    top: 1665px;
    width: 300px;
}

.line-break-2 {
    height: 2px;
    left: 93px;
    position: absolute;
    top: 1609px;
    width: 300px;
}

.back {
    background-image: url(icons/hospital-page-reviews-rectangle@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 40px;
    width: 40px;
}

.icon-3 {
    height: 14px;
    margin-left: 12px;
    margin-top: 13px;
    width: 16px;
}

.group-6916 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 5px;
    min-height: 85px;
    position: absolute;
    top: 42px;
    width: 61px;
}

.group-6841 {
    background-image: url(icons/hospital-page-reviews-ellipse-115@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 61px;
    position: relative;
    width: 61px;
}

.x1000 {
    font-weight: 600;
    letter-spacing: 0.52px;
    line-height: 20px;
    margin-left: 3px;
    margin-top: 1px;
    min-height: 23px;
    min-width: 55px;
    text-align: center;
    white-space: nowrap;
}

.turnright {
    align-items: flex-end;
    background-image: url(icons/hospital-page-reviews-turnright-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 53px;
    margin-left: 4px;
    padding: 6px 8px;
    width: 53px;
}

.turn-right {
    background-image: url(icons/hospital-page-reviews-primary@2x.png);
    background-size: 100% 100%;
    height: 39px;
    margin-left: 5px;
    width: 32px;
}

.group-6907 {
    display: flex;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 281px;
}

.map-pin {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-map-pin-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    overflow: hidden;
}

.overlap-group-5 {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-vector-12@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 24px;
    margin-top: -2.0px;
    min-width: 20px;
    padding: 5.0px;
}

.vector-20 {
    height: 10px;
    width: 10px;
}

.viralogist {
    font-weight: 600;
    height: 19px;
    letter-spacing: 0.23px;
    line-height: 16px;
    margin-left: 2px;
    margin-top: 1px;
    text-align: center;
    white-space: nowrap;
    width: 260.2336120605469px;
}

.group-6918 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 189px;
    min-height: 85px;
    position: absolute;
    top: 28px;
    width: 77px;
}

.x45 {
    font-weight: 600;
    letter-spacing: 0.52px;
    line-height: 20px;
    margin-right: 0.48px;
    margin-top: 9px;
    min-height: 23px;
    min-width: 51px;
    text-align: center;
    white-space: nowrap;
}

.group-6906 {
    background-image: url(icons/hospital-page-reviews-ellipse-117@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 53px;
    margin-top: 12px;
    width: 53px;
}

.share-2 {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-share-2-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    margin-left: 14px;
    margin-top: 14px;
    padding: 0 1.0px;
    width: 25px;
}

.overlap-group-6 {
    height: 25px;
    position: relative;
    width: 23px;
}

.vector-21 {
    height: 11px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 11px;
}

.vector-22 {
    height: 11px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 11px;
}

.vector-23 {
    height: 11px;
    left: 12px;
    position: absolute;
    top: 14px;
    width: 11px;
}

.vector-24 {
    height: 9px;
    left: 5px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.vector-25 {
    height: 9px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.group-6917 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 90px;
    min-height: 84px;
    position: absolute;
    top: 41px;
    width: 83px;
}

.group-6839 {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-ellipse-116@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 61px;
    min-width: 61px;
    padding: 11px 13px;
}

.overlap-group-7 {
    align-items: flex-end;
    background-image: url(icons/hospital-page-reviews-phone-call-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 32px;
    justify-content: flex-end;
    min-width: 32px;
    padding: 0 1.0px;
}

.vector-26 {
    height: 29px;
    width: 29px;
}

.x10-yrs-1 {
    font-weight: 600;
    letter-spacing: 0.49px;
    line-height: 19px;
    margin-left: 0.49px;
    margin-top: 1px;
    min-height: 22px;
    min-width: 85px;
    text-align: center;
    white-space: nowrap;
}

.rectangle-156 {
    background-image: url(icons/hospital-page-reviews-rectangle-156-mask@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 58px;
    left: 169px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    width: 73px;
}

.rectangle-156-1 {
    height: 65px;
    margin-left: -6px;
    margin-top: 1px;
    width: 87px;
}

.quality {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-quality-backgroundmask.png);
    background-size: 100% 100%;
    display: flex;
    height: 54px;
    left: 0;
    padding: 0 1px;
    position: absolute;
    top: 0;
    width: 360px;
}

.heading-1 {
    font-weight: 600;
    letter-spacing: 0.30px;
    line-height: 21px;
    min-height: 25px;
    white-space: nowrap;
}

.message-5 {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-message-backgroundmask-3@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 211px;
}

.overlap-group-8 {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-rectangle-5@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    min-width: 50px;
    padding: 0 13px;
}

.oxygen-mask-1-1 {
    height: 24px;
    width: 24px;
}

.flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 2.0px;
    min-height: 40px;
    width: 68px;
}

.messaging-5 {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 19px;
    min-height: 22px;
    white-space: nowrap;
}

.chat-me-up-share-ph-2 {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 14px;
    margin-top: 2px;
    min-height: 16px;
    white-space: nowrap;
}

.message-5.message-6 {
    height: unset;
    left: unset;
    position: unset;
    top: unset;
}

.message-5.message-6 .flex-col-2 {
    width: 92px;
}

.group-92 {
    display: flex;
    height: 15px;
    width: 86px;
}

.star-1 {
    margin-left: 3px;
}

.star-9 {
    margin-left: 2px;
}

.group-92.group-6910 {
    margin-top: 47px;
}

.communication {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-communication-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 214px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 211px;
}

.availability {
    font-weight: 600;
    letter-spacing: 0.30px;
    line-height: 21px;
    min-height: 25px;
    white-space: nowrap;
}

.group-6903 {
    align-items: center;
    display: flex;
    height: 50px;
    left: 0;
    min-width: 349px;
    position: absolute;
    top: 40px;
}

.percent {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 21px;
    margin-bottom: 3.0px;
    margin-left: 101px;
    min-height: 27px;
    min-width: 31px;
}

.group-6904 {
    align-items: center;
    display: flex;
    height: 50px;
    left: 0;
    min-width: 349px;
    position: absolute;
    top: 102px;
}

.audio-1 {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-audio-backgroundmask-1@2x.png);
    background-size: 100% 100%;
    display: flex;
    width: 202px;
}

.overlap-group1-5 {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-rectangle-7@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    min-width: 50px;
    padding: 0 13px;
}

.chart-heartbeat {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-turnright-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    width: 24px;
}

.overlap-group-9 {
    height: 24px;
    position: relative;
    width: 24px;
}

.vector-27 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 23px;
}

.vector-28 {
    height: 18px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.vector-29 {
    height: 8px;
    left: 8px;
    position: absolute;
    top: 4px;
    width: 8px;
}

.vector-30 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.vector-31 {
    height: 8px;
    left: 7px;
    position: absolute;
    top: 4px;
    width: 9px;
}

.vector-32 {
    height: 19px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 21px;
}

.flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 2.0px;
    min-height: 40px;
    width: 95px;
}

.audio-call-1 {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 19px;
    min-height: 22px;
    white-space: nowrap;
}

.call-your-doctor-dir-1 {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 14px;
    margin-top: 2px;
    min-height: 16px;
    white-space: nowrap;
}

.percent-1 {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 21px;
    margin-bottom: 3.0px;
    margin-left: 110px;
    min-height: 27px;
    min-width: 31px;
}

.group-6905 {
    align-items: center;
    display: flex;
    height: 50px;
    left: 0;
    min-width: 349px;
    position: absolute;
    top: 164px;
}

.video-call {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-video-call-backgroundmask@2x.png);
    background-size: 100% 100%;
    display: flex;
    width: 178px;
}

.overlap-group-10 {
    align-items: center;
    background-image: url(icons/hospital-page-reviews-rectangle-8@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 50px;
    min-width: 50px;
    padding: 0 13px;
}

.ventilator-1 {
    height: 24px;
    width: 24px;
}

.flex-col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 2.0px;
    min-height: 40px;
    width: 92px;
}

.description {
    font-weight: 700;
    letter-spacing: 0.27px;
    line-height: 19px;
    min-height: 22px;
    white-space: nowrap;
}

.description-1 {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 14px;
    margin-top: 2px;
    min-height: 16px;
    white-space: nowrap;
}

.percent-2 {
    font-weight: 700;
    letter-spacing: 0.20px;
    line-height: 21px;
    margin-bottom: 3.0px;
    margin-left: 134px;
    min-height: 27px;
    min-width: 31px;
}

.group-6946 {
    align-items: center;
    display: flex;
    margin-left: 8.0px;
    margin-top: 24px;
    min-width: 374px;
}

.round-1 {
    height: 55px;
    width: 55px;
}

.overlap-group-11 {
    height: 29px;
    margin-left: 12px;
    margin-top: 2.0px;
    position: relative;
    width: 307px;
}

.overlap-group1-6 {
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 307px;
}

.group-34-1 {
    align-items: flex-start;
    display: flex;
    height: 29px;
    left: 87px;
    min-width: 220px;
    position: absolute;
    top: 0;
}

.time-1 {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: 21px;
    margin-left: -1px;
    min-height: 25px;
    text-align: center;
    white-space: nowrap;
    width: 90px;
}

.icon-outline-back-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 106px;
    width: 25px;
}

.overlap-group-12 {
    height: 26px;
    position: relative;
    width: 25px;
}

.icon-outline-ba-background-mask-1 {
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.arrow-chevronleft-1 {
    height: 18px;
    left: 8px;
    position: absolute;
    top: 4px;
    width: 10px;
}

.group-6946.group-6963 {
    margin-top: 12px;
}

.group-6912 {
    align-items: flex-start;
    display: flex;
    height: 19px;
    left: 245px;
    min-width: 39px;
    position: absolute;
    top: 4px;
}

.text {
    letter-spacing: -0.15px;
    line-height: 16px;
    min-height: 19px;
    min-width: 22px;
    white-space: nowrap;
}

.icon-4 {
    height: 16px;
    margin-left: 1px;
    width: 16px;
}

.text-message {
    display: flex;
    height: 25px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 98px;
}

.title {
    font-weight: 600;
    height: 25px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    width: 100.08805847167969px;
}

.group-6921-2 {
    align-items: flex-start;
    display: flex;
    margin-top: 4px;
    min-width: 55px;
}

.icon-5 {
    height: 8px;
    width: 9px;
}

.icon-6 {
    height: 8px;
    margin-left: 3px;
    width: 9px;
}

.icon-7 {
    height: 8px;
    margin-left: 2px;
    width: 9px;
}

.group-6921-2.group-6921-1 {
    margin-top: 5px;
}

.icon-9 {
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    margin-left: 37px;
    margin-top: 1.0px;
    width: 25px;
}

.ventilator-1-1 {
    height: 14px;
    margin-left: 5px;
    margin-top: 6px;
    width: 14px;
}

.icon-9.icon-8 {
    margin-left: unset;
    margin-top: unset;
}

.group-6927 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-top: 1.0px;
    min-height: 29px;
    position: relative;
    width: 55px;
}

.text-3 {
    letter-spacing: -0.15px;
    line-height: 14px;
    margin-right: 1.15px;
    min-height: 16px;
    min-width: 19px;
    white-space: nowrap;
}

.group-6927.group-6927-1 {
    margin-left: 26px;
}

.about {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-about-backgroundmask.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 134px;
    left: 27px;
    overflow: hidden;
    position: absolute;
    top: 426px;
    width: 360px;
}

.flex-row-1 {
    align-items: center;
    display: flex;
    height: 25px;
    margin-left: 1px;
    min-width: 351px;
}

.about-1 {
    font-weight: 600;
    letter-spacing: 0.30px;
    line-height: 21px;
    min-height: 25px;
    min-width: 55px;
    white-space: nowrap;
}

.about-2 {
    font-weight: 600;
    letter-spacing: 0.30px;
    line-height: 21px;
    margin-left: 243px;
    min-height: 25px;
    min-width: 29px;
    white-space: nowrap;
}

.icon-10 {
    height: 20px;
    margin-left: 4px;
    margin-top: 1.0px;
    width: 20px;
}

.hospitalname {
    font-weight: 700;
    letter-spacing: 0.23px;
    line-height: 20px;
    margin-top: 9px;
    min-height: 80px;
    width: 360px;
}

.button {
    align-items: flex-start;
    background-image: url(icons/hospital-page-reviews-button-backgroundmask.png);
    background-size: 100% 100%;
    display: flex;
    height: 60px;
    left: 27px;
    position: absolute;
    top: 1693px;
    width: 360px;
}

.overlap-group9 {
    align-items: flex-end;
    background-image: url(icons/hospital-page-reviews-rectangle-14.png);
    background-size: 100% 100%;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    min-width: 360px;
    padding: 17px 117.5px;
}

.button-1 {
    font-weight: 700;
    letter-spacing: 0.49px;
    line-height: 19px;
    min-height: 22px;
    min-width: 122px;
    text-align: center;
    white-space: nowrap;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}