.MuiLinearProgress-determinate .css-5xe99f-MuiLinearProgress-bar1 {

    background-color:#F7C480 !important;
}

.MuiLinearProgress-determinate{
    background-color: #C4C4C4 !important;
}

.css-iljtu2-MuiRating-root{
    font-size: unset !important;
}

.css-ahj2mt-MuiTypography-root{
    width: 100% !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type{
    box-shadow: none !important;
}