{
    "presets": [
        [
            "@babel/preset-env",
            {
                "exclude": ["proposal-dynamic-import"
                ]
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}