.input-marker {
    display: inline-block;
}

.input-holder {

    border: 2px solid #282c34;
    border-radius: 50px;
    transition: border 200ms;
}

.input-holder:focus,
.input-holder:active {
    border: 2px solid #000000;

}

.main-input {
    flex: 1;
    border: none;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.main-input:focus,
.main-input:focus-visible {
    box-shadow: none;
    border: none;
    outline: none;
}


.header {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.fill-rest {
    flex: 2;
    text-align: left;
}

.select-locations {
    border-bottom: #ededed;
    border-bottom-style: solid;
}

.select-locations:hover {
    background-color: #f6f6f7;
}

.active {
    background-color: #f6f6f7;
}

.active-blue {
    border: 2px solid #225cc7;
}

.u-link {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 50px;
    background-color: black;
    color: white;

}

.overflow-x-hidden{
    overflow-x:hidden;
}