
.fb-h {
  color: #3B5998;
}

.tw-h {
  color: #00acee;
}

.li-h {
  color: #0077B5;
}

.re-h {
  color: #FF5700;
}
.wh-h {
  color: #25d366;
}
.si-h {
  color: #3a76f0;
}
.ma-h {
  color: #ea4335;
}
