.main{
    background-color: #f8f8f8f3!important;
    height: 100vh;
}
.sub {
    background: #3e64ff!important;;
    color:#ffffff!important;
    border-radius: 10px!important;
    text-transform: none!important;
}

.head-sec{
    background-color: #ffffff;
}