.Yourprof {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    padding-bottom: .5rem;
    padding-left: 1.25em;
    text-align: left;
}
.logintext {
    color: #0338B9;
    font-size: 20px;
    margin-top: .5rem;
    font-weight: 600;
}
.bottomtxt {
    color: #606267;
    font-weight: 600;
    font-size: 16px;
}
.signuptxt {
    color: #0338B9;
    font-weight: 600;
    margin-left: 0.5rem;
}
.endtxt{
    font-size: 8px;
    color: #868383;
}
.linestyle {
    border: 0.401527px solid #EEEEEE;
}
