.NavBar {
    background: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
    .Nav-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.BlueBackground {
    border-radius: 50px;
    border: None;
    transition: background-color .2s ease-in;
}

.BlueBackground:focus {
    box-shadow: none;
}

.BlueBackground:hover,
.BlueBackground:focus {
    opacity: 1;
    background-color: #c8f8f6;
}

.location-screen-enter {
    opacity: 1;
    transform: translateX(100%);
}

.location-screen-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.location-screen-exit {
    opacity: 1;
}

.location-screen-exit-active {
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}


.searchbox{
    text-overflow: ellipsis;
}



.filter-screen-enter {
    opacity: 1;
    transform: translateY(100%);
}

.filter-screen-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.filter-screen-exit {
    opacity: 1;
}

.filter-screen-exit-active {
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 300ms, transform 300ms;
}


.rounder {
    border-radius: 50px !important;
}


.user-screen-enter {
    opacity: 1;
    transform: translateX(-100%);
}

.user-screen-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.user-screen-exit {
    opacity: 1;
}

.user-screen-exit-active {
    opacity: 1;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
}
.searchmain {
    align-items: baseline;
    width: 100%;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 44px;
    margin-top: 30px;

}
.srchtxt {
    color: #5D5C5D;
    font-size: 16px;
    margin-top: 3px;
    text-align: left;

}




