.NavBar {
    background: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .Nav-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}