
.wholetab {
    margin-top: 4rem;
    background: #F0F0F0;
    border-radius: 10px;
}
.nxtbutton {
    background: linear-gradient(110.55deg, rgba(3, 56, 185, 0.5) 0%, #3E64FF 63.64%);
    border-radius: 10px;
}
