.slot_body{
    /* background:white; */
    /* background-color:  #E5E5E5; */
    background:white;
    min-height:100%;
    padding:10px;
}
.btn-add{
    margin-top:20px;
    margin-right:20px ;
    display: flex;
    justify-content: flex-end;
}
.btn-span{

    border-radius: 50%;
    border:1px solid rgb(98, 98, 216);
}
.btn-cont{
    width:200px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}